<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HotelDB" connectionString="Data Source=DESKTOP-RB8DRH6\MSSQLSERVER02;Initial Catalog=HotelBooking;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>